body {
	padding-top: 50px;
}

.container .jumbotron {
	padding: 30px;
	border-radius: 0px 0px 6px 6px;
	border: 1px solid #E5E5E5;
}

.info-block {
	text-align: center;
}

.spacer {
	width: 100%;
	height: 50px;
}